.view-id-facilitets_liste {
  text-align: center;
  .view-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  .views-row {
    display: flex;
  }


  .node--type-facility.node--view-mode-teaser {
    margin: 16px 12px;
    text-align: center;
    color: black;

    // Reduce width of title on mobile.
    width: 120px;

    @include media($tablet) {
      // Set the title to the width of the circle image (see below) and then some.
      // We're working with some space so no harm in letting it have some extra.
      width: 200px;
    }
    a {
      color: black;
      text-decoration: none;
    }
    h2 {
    //  Spacing from circle-image down to the header.
      margin: 0;
      margin-top: em($spacing-small);
    }
  }
}
