.view-id-facilitets_liste{
  .node--type-facility.node--view-mode-teaser{
    float:left;
    margin:16px;
   text-align: center;
   color: black;
   a{
     color: black;
     text-decoration: none;
   }
   h2{
     margin: 0;
   }
  }
}
