
// This class should be set on either wrapping element or on the ul it self.
.horizontal-menu ul,
ul.horizontal-menu {
  font-size: 0;
  margin: 0;

  li {
    font-size: $base-font-size;
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }

}
