// Paragraph that contains an image.
.inline-image {
  text-align: center;
  img {
    // Set a max for the image-size and keep it in aspect.
    @include object-fit(contain);
    max-height: 400px;
  }

  @include span-columns(12);
  @include media-small {
    img {
      width: 80%;
    }
  }
}

.inline-image__direction_left, .inline-image__direction_right {
  @include media-xsmall {
    @include span-columns(6 of 12);
    img {
      width: 100%;
    }
  }
}

.inline-image__direction_left {
  @include media-xsmall {
    @include pad(default default default 0);
  }
}

.inline-image__direction_right {
  @include media-xsmall {
    @include pad(default 0 default default);
    float: right;
  }
}
