// Mobile menu width adjustment
.mm-menu.mm-offcanvas {
    max-width: none;
    max-width: unset;
}

// Removing the top (and bottom?) spacer bar of the menu
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel:after,
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel:before {
  content: none;
}
// Strip padding from the sides of the menu panels
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel {
  padding-left: 0;
  padding-right: 0;
}
// The list views has a weird negative margin that messes baaad with positioning; remove it!
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel > .mm-listview,
.mm-panels>.mm-panel>.mm-listview:first-child,
.mm-panels>.mm-panel>.mm-navbar+.mm-listview {
  margin: 0;
}

// Add a bit of padding to menu points
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel > .links > li > a {
  padding: 12px 0 12px 12px;
}

// Enhance menu separators
.mm-panel .mm-navbar {
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(255, 255, 255, .1);
}
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel .mm-listview > li:not(.mm-divider):after,
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel .mm-listview > li .mm-next:before {
  content: '';
  border-color: rgba(255, 255, 255, .1);
  left: 0 !important;
}

// Remove menu separators
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel .mm-listview li > a:hover {
  background-color: rgba(255, 255, 255, .1);
}

// Fix the menu sizing on medium/tablet size screens (between 550px and 960px wide)
@media (min-width: 550px) {
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate3d(-440px, 0, 0);
    transform: translate3d(-440px, 0, 0);
  }
  .mm-menu.mm-offcanvas {
    max-width: 440px;
  }
}

// Make sure the menu is NOT shown on screens where the top menu takes over (960+px)
@media (min-width: 960px) {
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .mm-menu.mm-offcanvas {
    max-width: 0;
    display: none !important;
  }
}
