/* Mobile menu width adjustment */
.mm-menu.mm-offcanvas {
    max-width: none;
    max-width: unset;
}

/* Removing the top (and bottom?) bar of the menu */
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel:after,
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel:before {
    content: none;
}
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel {
    padding: 0;
}
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel.mm-hasnavbar > .mm-navbar {
    display: none;
}

/* Add a bit of padding to menu points */
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel > .links {
    margin: 0;
}

/* Add a bit of padding to menu points */
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel > .links > li > a {
    padding: 12px 0 12px 12px;
}

/* Enhance menu separators */
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel .mm-listview > li:not(.mm-divider):after,
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel .mm-listview > li .mm-next:before {
	content: '';
    border-color: rgba(255, 255, 255, .1);
    left: 0 !important;
}

/* Remove menu separators */
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel .links li > a:hover {
    background-color: rgba(255, 255, 255, .1);
}