
.quicklinks-list .quicklink {
  margin: 20px 0;
  text-align: center;

  // One link pr row.
  @include span-columns(12);

  @include media($tablet) {
    @include span-columns(6);
    @include omega(2n);
  }

  @include media($desktop) {
    @include omega-reset(2n);
    // How many columns should every element take up.
    @include span-columns(3);
    // Removes gutter and margin on every n'th child and clears.
    @include omega(4n);
  }

  span {
    display: block;
  }
}

.quicklink a {
  text-decoration: none;
  color: black;
}

.circle {
  background-position: center center;
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .5);
}
