
$tablet: new-breakpoint(max-width 768px, 4);

ul.site--header--quick_links {

  li {
    margin: 20px 0;
    text-align: center;
    @include omega(4n);
    @include span-columns(3);
    @include media($tablet) {
      @include omega(2n);
      @include span-columns(2);

    }
    @include media(max-width 450px) {
      @include span-columns(12);
    }


    span {
      display: block;
    }
  }
}


.circle {
  background-position: center center;
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .5);
}
