.quicklinks-list .quicklink {
  margin: 20px 0;
  text-align: center;

  // Two circle-links pr. row.
  @include span-columns(6);
  // Clear all gutters.
  @include omega;

  @include media($desktop) {
    @include omega-reset(2n);
    // How many columns should every element take up.
    @include span-columns(3);
    // Removes gutter and margin on every n'th child and clears.
    @include omega(4n);
  }

  span {
    display: block;
  }
}

.quicklink a {
  text-decoration: none;
  color: black;
}

.quicklink .field--name-title {
  margin: auto;

  // Reduce width of title on mobile.
  width: 150px;

  @include media($tablet) {
    // Set the title to the width of the circle image (see below) and then some.
    // We're working with some space so no harm in letting it have some extra.
    width: 220px;

  }
}

.circle {
  background-position: center center;
  background-size: 110%;
  width: 120px;
  height: 120px;

  @include media($tablet) {
    // Increase the circle-size on desktop/tablet.
    width: 200px;
    height: 200px;
  }

  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .5);
}
