{#
/**
 * @file
 * Forlev2016 page template.
 */
#}
<div class="layout-container">

  <header role="banner" class="site--header">
    <div class="faded">
      <div class="outer-width-wrapper">
        <a href="{{ front_page }}" class="logo">Forlev</a>
        {{ xdebug_break() }}
        {{ page.header.responsivemenumobileicon }}
        {{ page.header.horizontalmenu }}
      </div>
    </div>

    <div class="outer-width-wrapper">
    {% if is_front %}
      {# Display quicklinks in header if we're on the frontpage #}
        {# Class horizontal-menu is set here on a wrapper class with the only point to prove the css works either way #}

        {#<ul class="links site--header--quick-links menu">#}
        {#<li class="_"><a href="/node/add"><i class="circle" style="background-image:url('themes/forlev2016/images/circle-1.png');"></i><span>Tag på seniorkursus</span></a></li>#}
        {#<li class="_"><a href="/node/add"><i class="circle" style="background-image:url('themes/forlev2016/images/circle-2.png');"></i><span>Tag på patruljekursus</span></a></li>#}
        {#<li class="_"><a href="/node/add"><i class="circle" style="background-image:url('themes/forlev2016/images/circle-3.png');"></i><span>Tag på sommerlejr</span></a></li>#}
        {#<li class="_"><a href="/node/add"><i class="circle" style="background-image:url('themes/forlev2016/images/circle-4.png');"></i><span>Tag på Mikro/Mini/Junior lejr</span></a></li>#}
        {#</ul>#}
      {{ page.header.quicklinks }}
    {% endif %}
      {{ page.header.breadcrumbs }}
      </div>

  </header>

  {{ page.help }}

  <main role="main" class="outer-width-wrapper main-content">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer class="footer" role="contentinfo">
      <div class="outer-width-wrapper">
      {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>{# /.layout-container #}
