/**
 * This mixin only address the technical part of collapsing and hiding the menu
 * items as you get below 700px.
 */
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);

  or object-fit and object-position:
  @include object-fit(cover, top);
*/
body {
  margin: 0;
}

body {
  font-size: 16px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, EmojiFont, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols !important;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.main-content h1 {
  font-style: italic;
  font-size: 33px;
  letter-spacing: 0.05em;
  font-weight: 500;
}

.main-content h2 {
  font-size: 20px;
  letter-spacing: 0.05em;
  font-weight: 300;
}

body {
  background-color: #fafafa;
}

.breadcrumb {
  padding-top: 1em;
  margin-left: 15px;
  clear: both;
}

.breadcrumb a {
  text-decoration: none;
}

.full-width-image-container img {
  -o-object-fit: contain;
  object-fit: contain;
  font-family: "object-fit: contain";
  width: 100%;
  display: block;
  height: auto;
}

#block-horizontalmenu {
  display: inline-block;
  margin-left: 1.25em;
}

.horizontal-menu ul,
ul.horizontal-menu {
  margin: 0;
}

.horizontal-menu ul li,
ul.horizontal-menu li {
  font-size: 0.875em;
  display: inline-block;
}

.horizontal-menu ul ul.sub-nav li,
ul.horizontal-menu ul.sub-nav li {
  margin-left: 10px;
}

.inline-image {
  text-align: center;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
}

.inline-image:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .inline-image img {
    width: 80%;
  }
}

@media (min-width: 600px) {
  .inline-image__direction_left, .inline-image__direction_right {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
  }
  .inline-image__direction_left:last-child, .inline-image__direction_right:last-child {
    margin-right: 0;
  }
  .inline-image__direction_left img, .inline-image__direction_right img {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .inline-image__direction_left {
    padding: 2.3576515979% 2.3576515979% 2.3576515979% 0;
  }
}

@media (min-width: 600px) {
  .inline-image__direction_right {
    padding: 2.3576515979% 0 2.3576515979% 2.3576515979%;
    float: right;
  }
}

ul.horizontal-menu a, ul.horizontal-menu a:visited {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.mm-menu.mm-offcanvas {
  max-width: none;
  max-width: unset;
}

.mm-menu.mm-offcanvas > .mm-panels > .mm-panel:after,
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel:before {
  content: none;
}

.mm-menu.mm-offcanvas > .mm-panels > .mm-panel {
  padding-left: 0;
  padding-right: 0;
}

.mm-menu.mm-offcanvas > .mm-panels > .mm-panel > .mm-listview,
.mm-panels > .mm-panel > .mm-listview:first-child,
.mm-panels > .mm-panel > .mm-navbar + .mm-listview {
  margin: 0;
}

.mm-menu.mm-offcanvas > .mm-panels > .mm-panel > .links > li > a {
  padding: 12px 0 12px 12px;
}

.mm-panel .mm-navbar {
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(255, 255, 255, 0.1);
}

.mm-menu.mm-offcanvas > .mm-panels > .mm-panel .mm-listview > li:not(.mm-divider):after,
.mm-menu.mm-offcanvas > .mm-panels > .mm-panel .mm-listview > li .mm-next:before {
  content: '';
  border-color: rgba(255, 255, 255, 0.1);
  left: 0 !important;
}

.mm-menu.mm-offcanvas > .mm-panels > .mm-panel .mm-listview li > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 550px) {
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate3d(-440px, 0, 0);
    transform: translate3d(-440px, 0, 0);
  }
  .mm-menu.mm-offcanvas {
    max-width: 440px;
  }
}

@media (min-width: 960px) {
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .mm-menu.mm-offcanvas {
    max-width: 0;
    display: none !important;
  }
}

.view-id-facilitets_liste {
  text-align: center;
}

.view-id-facilitets_liste .views-row {
  display: inline-block;
}

.view-id-facilitets_liste .node--type-facility.node--view-mode-teaser {
  margin: 16px 12px;
  text-align: center;
  color: black;
  width: 200px;
}

.view-id-facilitets_liste .node--type-facility.node--view-mode-teaser a {
  color: black;
  text-decoration: none;
}

.view-id-facilitets_liste .node--type-facility.node--view-mode-teaser h2 {
  margin: 0;
  margin-top: 0.625em;
}

.field--name-field-see-also, .circle-image-list, .circle-image-view .view-content {
  text-align: center;
}

.field--name-field-see-also .paragraph, .field--name-field-see-also .views-row, .circle-image-list .paragraph, .circle-image-list .views-row, .circle-image-view .view-content .paragraph, .circle-image-view .view-content .views-row {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  width: 210px;
}

@media screen and (min-width: 480px) {
  .field--name-field-see-also .paragraph, .field--name-field-see-also .views-row, .circle-image-list .paragraph, .circle-image-list .views-row, .circle-image-view .view-content .paragraph, .circle-image-view .view-content .views-row {
    margin: 20px 30px;
  }
}

a.squared-list-item {
  text-decoration: none;
}

a.squared-list-item .node__content:hover {
  background: #eeeeee;
}

.squared-list-item .squared-list-item--image {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
  float: left;
}

.squared-list-item .squared-list-item--image:last-child {
  margin-right: 0;
}

@media screen and (min-width: 480px) {
  .squared-list-item .squared-list-item--image {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
  }
  .squared-list-item .squared-list-item--image:last-child {
    margin-right: 0;
  }
}

.squared-list-item .squared-list-item--aside::after {
  clear: both;
  content: "";
  display: table;
}

.squared-list-item .squared-list-item--aside .clearfix:after {
  clear: none;
}

.event__signup--listing {
  display: inline-block;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
}

.event__signup--listing:last-child {
  margin-right: 0;
}

@media screen and (min-width: 1024px) {
  .event__signup--listing {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%;
  }
  .event__signup--listing:last-child {
    margin-right: 0;
  }
}

.squared-list-item .event__signup__status {
  margin: 0;
}

.squared-list-item img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border-radius: 5%;
  border: 5px solid rgba(200, 200, 200, 0.5);
}

.squared-list-item h2 {
  margin-top: 0;
  margin-bottom: 0.25em;
  color: #ec1b26;
  font-size: 1.125em;
  font-weight: 500;
}

.squared-list-item .date-field {
  margin-top: 0;
  font-size: 0.875em;
}

.squared-list-item .node__content {
  color: black;
  padding: 10px;
  overflow: auto;
  margin: 0;
}

.quicklinks-list .quicklink {
  margin: 20px 0;
  text-align: center;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
}

.quicklinks-list .quicklink:last-child {
  margin-right: 0;
}

@media screen and (min-width: 480px) {
  .quicklinks-list .quicklink {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
  }
  .quicklinks-list .quicklink:last-child {
    margin-right: 0;
  }
  .quicklinks-list .quicklink:nth-child(2n) {
    margin-right: 0;
  }
  .quicklinks-list .quicklink:nth-child(2n+1) {
    clear: left;
  }
}

@media screen and (min-width: 1024px) {
  .quicklinks-list .quicklink {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
  }
  .quicklinks-list .quicklink:nth-child(2n) {
    margin-right: 2.3576515979%;
  }
  .quicklinks-list .quicklink:nth-child(2n+1) {
    clear: none;
  }
  .quicklinks-list .quicklink:last-child {
    margin-right: 0;
  }
  .quicklinks-list .quicklink:nth-child(4n) {
    margin-right: 0;
  }
  .quicklinks-list .quicklink:nth-child(4n+1) {
    clear: left;
  }
}

.quicklinks-list .quicklink span {
  display: block;
}

.quicklink a {
  text-decoration: none;
  color: black;
}

.circle {
  background-position: center center;
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

@media (min-width: 600px) {
  .layout-content {
    margin: 15px;
  }
}

.outer-width-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.outer-width-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.block-page-title-block {
  margin-top: 2em;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #bababa;
}

@media (min-width: 600px) {
  .layout-content {
    margin: 15px;
  }
}

.outer-width-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.outer-width-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.forlev-event .event__image, .forlev-event .event__meta, .forlev-event .event__signup, .forlev-event .event__body, .forlev-event .event__gallery {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
}

.forlev-event .event__image:last-child, .forlev-event .event__meta:last-child, .forlev-event .event__signup:last-child, .forlev-event .event__body:last-child, .forlev-event .event__gallery:last-child {
  margin-right: 0;
}

@media screen and (min-width: 480px) {
  .forlev-event .event__meta {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
  }
  .forlev-event .event__meta:last-child {
    margin-right: 0;
  }
  .forlev-event .event__image {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%;
  }
  .forlev-event .event__image:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .forlev-event .event__meta {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
  }
  .forlev-event .event__meta:last-child {
    margin-right: 0;
  }
  .forlev-event .event__image {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%;
  }
  .forlev-event .event__image:last-child {
    margin-right: 0;
  }
}

.event__signup {
  margin-top: 0.625em;
}

.event__signup__status {
  margin: 0.625em 0;
  display: inline-block;
  width: 100%;
  padding: 0.625em 0;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.event__signup__status.event__signup__status--open {
  background-color: #73d45e;
}

.event__signup__status.event__signup__status--closed {
  background-color: #d47271;
}

.event__meta fieldset {
  margin-top: 0;
}

.event__meta--container .field {
  margin-top: 0.5em;
}

.event__image img {
  display: block;
  width: 100%;
  height: auto;
}

.event__gallery {
  margin-bottom: 1.25em;
}

.event__gallery .media--image {
  height: 300px;
  position: relative;
}

@media screen and (min-width: 480px) {
  .event__gallery .media--image {
    height: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .event__gallery .media--image {
    height: 400px;
  }
}

.event__gallery .media--image img {
  width: auto;
  max-height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body.toolbar-fixed {
  padding-top: 39px;
}

body.toolbar-fixed.toolbar-tray-open {
  padding-top: 78px;
}

body.toolbar-tray-open {
  padding-top: 39px;
}

.site--header {
  background: url("../images/topbg.jpg") no-repeat center center;
  background-size: cover;
}

.site--header .faded {
  padding: 20px 0;
}

.site--header .logo {
  margin-left: 15px;
  background: url("../images/logo.png") no-repeat center center;
  background-size: 200px;
  display: inline-block;
  width: 200px;
  height: 50px;
  overflow: hidden;
  text-indent: -999em;
  float: left;
}

.site--header .logo::after {
  clear: both;
  content: "";
  display: table;
}

.site--header .site--header--menu {
  padding-top: 30px;
  text-align: right;
}

.site--header input#burger-menu-handle {
  display: none;
}

.site--header label[for=burger-menu-handle] {
  display: none;
}

@media screen and (max-width: 700px) {
  .site--header input#burger-menu-handle:checked ~ .site--header--menu {
    display: block;
  }
}

.faded {
  background-color: rgba(0, 0, 0, 0.5);
}

.site--header a {
  color: #fff;
  text-shadow: 2px 2px 4px black;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 280px;
  /* bottom = footer height */
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 280px;
}

.layout-container > footer {
  background-image: url("../images/footerbg.jpg");
  background-size: cover;
  background-position: center center;
}

.layout-container > footer div {
  text-align: right;
}

.region-footer {
  font-size: 0.875em;
  color: white;
}

.region-footer a, .region-footer a:visited {
  color: yellow;
}

.region-footer .block-content .menu {
  float: right;
}

/*# sourceMappingURL=forlev2016.css.map */