/**
 * This mixin only address the technical part of collapsing and hiding the menu
 * items as you get below 700px.
 */
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

body {
  font-size: 16px;
  line-height: 1.25em;
  font-family: Arial, sans-serif;
}

.breadcrumb {
  padding-top: 1em;
  margin-left: 15px;
  clear: both;
}

.breadcrumb a {
  text-decoration: none;
}

ul.horizontal-menu a, ul.horizontal-menu a:visited {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

a.news-item {
  text-decoration: none;
}

a.news-item .node__content:hover {
  background: #eeeeee;
}

.news-item img {
  width: auto;
  float: left;
  margin: 0 15px 0 0;
  box-sizing: border-box;
  border-radius: 5%;
  border: 5px solid rgba(200, 200, 200, 0.5);
}

.news-item h2 {
  margin-bottom: 10px;
  color: #ec1b26;
}

.news-item .date-field {
  margin-top: 0;
}

.news-item .node__content {
  color: black;
  padding: 10px;
  overflow: auto;
  margin: 0;
}

.horizontal-menu ul,
ul.horizontal-menu {
  font-size: 0;
  margin: 0;
}

.horizontal-menu ul:first-child,
ul.horizontal-menu:first-child {
  margin-left: 200px;
}

.horizontal-menu ul li,
ul.horizontal-menu li {
  font-size: 16px;
  display: inline-block;
}

.horizontal-menu ul ul.sub-nav li,
ul.horizontal-menu ul.sub-nav li {
  margin-left: 10px;
}

ul.site--header--quick_links li {
  margin: 20px 0;
  text-align: center;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%;
}

ul.site--header--quick_links li:nth-child(4n) {
  margin-right: 0;
}

ul.site--header--quick_links li:nth-child(4n+1) {
  clear: left;
}

ul.site--header--quick_links li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  ul.site--header--quick_links li {
    float: left;
    display: block;
    margin-right: 7.4229703521%;
    width: 46.288514824%;
  }
  ul.site--header--quick_links li:nth-child(2n) {
    margin-right: 0;
  }
  ul.site--header--quick_links li:nth-child(2n+1) {
    clear: left;
  }
  ul.site--header--quick_links li:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 450px) {
  ul.site--header--quick_links li {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
  }
  ul.site--header--quick_links li:last-child {
    margin-right: 0;
  }
}

ul.site--header--quick_links li span {
  display: block;
}

.circle {
  background-position: center center;
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 600px) {
  .layout-content {
    margin: 15px;
  }
}

.outer-width-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.outer-width-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.site--header {
  background: url("../images/topbg.jpg") no-repeat center center;
  background-size: cover;
}

.site--header .faded {
  padding: 20px 0;
}

.site--header .logo {
  margin-left: 15px;
  background: url("../images/logo.png") no-repeat center center;
  background-size: 200px;
  display: block;
  width: 200px;
  height: 50px;
  overflow: hidden;
  text-indent: -999em;
  float: left;
}

.site--header .site--header--menu {
  padding-top: 30px;
  text-align: right;
}

.site--header input#burger-menu-handle {
  display: none;
}

.site--header label[for=burger-menu-handle] {
  display: none;
}

@media screen and (max-width: 700px) {
  .site--header input#burger-menu-handle:checked ~ .site--header--menu {
    display: block;
  }
}

.faded {
  background-color: rgba(0, 0, 0, 0.5);
}

.site--header a {
  color: #fff;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 280px;
  /* bottom = footer height */
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 280px;
}

.layout-container > footer {
  background-image: url("../images/footerbg.jpg");
  background-size: cover;
  background-position: center center;
}

.layout-container > footer div {
  text-align: right;
}

.region-footer {
  font-size: 0.875em;
  color: white;
}

.region-footer a, .region-footer a:visited {
  color: yellow;
}

.region-footer .block-content .menu {
  float: right;
}

/*# sourceMappingURL=forlev2016.css.map */