body {
  @media (min-width: 960px) {
    .horizontal-menu > li {
      // Overridden - we want the li's to take up as much horizontal space as the
      // parent ul - so we kick the intermediate lis position back to static.
      //position: relative;
      position: static;
    }

    .horizontal-menu > li > a {
      padding-left: 0.2em;
    }

    .horizontal-menu > li ul {
      margin-right: 10px;

      // Add a seperating border between the top-menu and the sub-menu.
      border-top: 1px solid white;

      // 3px spacing on top of and underneath the horizontal line
      margin-top: 3px;
      padding-top: 3px;
    }

    // Let the links in the sub-menu have a hover-state.
    ul.sub-nav a:hover {
      text-decoration: underline;
    }

    .horizontal-menu li li {
      // Overridden - we want the lis to be juxtaposed so no forced width.
      width: auto;
    }

    // Prefix the menu-item with a red dot.
    .horizontal-menu li li:before {
      content: "• ";
      color: #e44;

      // Poor-mans vertical centering.
      position: absolute;
      font-size: 1.8em;
      top: 0;
      line-height: 120%;
      //padding-top: 0.2em;
    }

    // Max out the size of the sub-menu, but keep it below around 960 - logo-width.
    .menu.sub-nav {
      max-width: 730px;
      width: 100%;

      // The sub-menu needs a background in case it is displayed on top of the page.
      background-color: rgba(0, 0, 0, 0.3);
    }

  }
  @media (max-width: 960px) {
    .responsive-menu-toggle {
      display: inline-block;
      margin-right: 20px;
      float: right;
    }

    .horizontal-menu > li {
      display: block;
    }
  }
}


/*Required in order for the sticky-footer to stick to the bottom of the view
port */
.mm-page {
  position: static;
}
