.site--header {
  background: url('../images/topbg.jpg') no-repeat center center;
  background-size: cover;

  .faded {
    padding: 20px 0;
  }

  .logo {
    margin-left: 15px;
    background: url('../images/logo.png') no-repeat center center;
    background-size: 200px;
    display: block;
    width: 200px;
    height: 50px;
    // Is hiding of text still done this way?
    overflow: hidden;
    text-indent: -999em;

    // This float is combined with the .site--header--menu 30px padding top and
    // the containing .faded's 20px padding making up for the alignment. Could
    // be refactored.
    float: left;
  }

  // Actual topmenu specific styles.
  .site--header--menu {
    padding-top: 30px;
    text-align: right;
  }
  // Fallback to burger menu.
  @include burgerMenu('site--header--menu', 'burger-menu-handle');
}

// Refactor candidates below here.


.faded {
  background-color: $faded-black;
}

// All links in header should be white!
.site--header a {
  color: #fff;
}
