@include stickyFooter('.sticky-footer', 280px);

.layout-container > footer {
  background-image: url('../images/footerbg.jpg');
  background-size: cover;
  background-position: center center;

  div {
    text-align: right;
  }
}

.region-footer {
  font-size: em(14, $base-font-size);

  color: white;
  a, a:visited {
    color: yellow;
  }
  .block-content .menu {
    float: right;
  }
}
